name: Build RPM

on:
  workflow_dispatch:


permissions:
  contents: read
  id-token: write

env:
  FAMILY_NAME: "pci-task"
  CONTAINER_NAME: "pci-image"
  ECS_EXEC_ROLE_ARN: "arn:aws:iam::329292974512:role/ecsTaskExecutionRole"
  ECS_TASK_ROLE_ARN: "arn:aws:iam::329292974512:role/jenkins-task-role-BNR"
  ECS_IMAGE: "329292974512.dkr.ecr.eu-west-1.amazonaws.com/pci-image:latest"
  BUILD_NUMBER: ${{ github.run_number }}
  CODECOMMIT_BRANCH: "25.0.03"
  S3_RPM_REPO: "pci-rpm-repo"
  CODECOMMIT_REPO: "ssh://git-codecommit.eu-west-1.amazonaws.com/v1/repos/cws-ecomm-pci"
  AWS_REGION: "eu-west-1"

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.IAM_ROLE }}
        role-session-name: pci-task-def
        aws-region: ${{ secrets.AWS_REGION }}
        output-credentials: true

    - name: Render ECS task JSON
      run: |
        envsubst < task-template.json > task.json
        echo "Rendered task.json:"
        cat task.json

    - name: Register ECS Task Definition
      run: |
        echo "Registering ECS Task Definition..."
        TASK_DEF_ARN=$(aws ecs register-task-definition \
          --cli-input-json file://task.json \
          --region ${{ env.AWS_REGION }} \
          --query 'taskDefinition.taskDefinitionArn' \
          --output text)
        echo "Registered Task Definition ARN: $TASK_DEF_ARN"
        echo "TASK_DEF_ARN=$TASK_DEF_ARN" >> $GITHUB_ENV

    # - name: Run ECS Task
    #   run: |
    #     echo "Running ECS task..."
    #     aws ecs run-task \
    #       --cluster pci-cluster \
    #       --launch-type FARGATE \
    #       --network-configuration "awsvpcConfiguration={subnets=[subnet-xxxxxx],securityGroups=[sg-xxxxxx],assignPublicIp=ENABLED}" \
    #       --task-definition ${{ env.TASK_DEF_ARN }} \
    #       --region ${{ env.AWS_REGION }}