name: Build RPM Package

on:
  workflow_dispatch:


permissions:
  contents: read
  id-token: write

env:
  FAMILY_NAME: "${{ env.TASK_DEF_NAME }}"
  CONTAINER_NAME: "${{ env.CONTAINER_NAME }}"
  ECS_EXEC_ROLE_ARN: "${{ secrets.ECS_EXEC_ROLE_ARN }}"
  ECS_TASK_ROLE_ARN: "${{ secrets.ECS_TASK_ROLE_ARN }}"
  ECS_IMAGE: "${{ secrets.CODECOMMIT_BRANCH }}"
  BUILD_NUMBER: "${{ github.run_number }}"
  CODECOMMIT_BRANCH: "${{ env.CODECOMMIT_BRANCH }}"
  S3_RPM_REPO: "${{ env.S3_RPM_REPO }}"
  CODECOMMIT_REPO: "${{ env.CODECOMMIT_REPO }}"
  AWS_REGION: "${{ env.AWS_REGION }}"

jobs:
  pci-build-package:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.IAM_ROLE }}
        role-session-name: pci-task-def
        aws-region: ${{ secrets.AWS_REGION }}
        output-credentials: true

    - name: Render ECS task JSON
      run: |
        envsubst < task-template.json > task.json
        echo "Rendered task.json:"
        cat task.json

    - name: Register ECS Task Definition
      run: |
        echo "Registering ECS Task Definition..."
        TASK_DEF_ARN=$(aws ecs register-task-definition \
          --cli-input-json file://task.json \
          --region ${{ env.AWS_REGION }} \
          --query 'taskDefinition.taskDefinitionArn' \
          --output text)
        echo "Registered Task Definition ARN: $TASK_DEF_ARN"
        echo "TASK_DEF_ARN=$TASK_DEF_ARN" >> $GITHUB_ENV

    - name: Run ECS Task
      id: run_ecs
      run: |
        echo "Running ECS task..."
        TASK_ARN=$(aws ecs run-task \
          --cluster pci-cluster \
          --launch-type FARGATE \
          --network-configuration "awsvpcConfiguration={subnets=[subnet-0de8cd67df55d4b48],securityGroups=[sg-01a35b962c565a63b],assignPublicIp=ENABLED}" \
          --task-definition ${{ env.TASK_DEF_ARN }} \
          --region ${{ env.AWS_REGION }} \
          --query 'tasks[0].taskArn' \
          --output text)
        echo "TASK_ARN=$TASK_ARN" >> $GITHUB_ENV

    - name: Wait for ECS Task to Finish
      run: |
        echo "Waiting for ECS task to finish..."
        aws ecs wait tasks-stopped \
          --cluster pci-cluster \
          --tasks ${{ env.TASK_ARN }} \
          --region ${{ env.AWS_REGION }}

    - name: Check Task Exit Code
      run: |
        EXIT_CODE=$(aws ecs describe-tasks \
          --cluster pci-cluster \
          --tasks ${{ env.TASK_ARN }} \
          --region ${{ env.AWS_REGION }} \
          --query 'tasks[0].containers[0].exitCode' \
          --output text)
        echo "Task Exit Code: $EXIT_CODE"
        if [ "$EXIT_CODE" -ne 0 ]; then
          echo "Task failed!"
          exit 1
        fi

    - name: Deregister ECS Task Definition
      run: |
        echo "Deregistering ECS task definition..."
        aws ecs deregister-task-definition \
          --task-definition ${{ env.TASK_DEF_ARN }} \
          --region ${{ env.AWS_REGION }}
